body {
    background: black;
}


/* -------------------HEADER STYLE-----------------*/

#search-bar > div > div {
    margin-left: 25px;
}

#search-bar {
    margin-bottom: 0;
}

.logo {
    position: absolute;
    right: 0px;
    width: 270px;
    height: 45px;
    margin-top: 7px;
}

#search-bar > div > div > ul > li > a:hover {
    color: #FFBA00;
}

form {
    width: 500px;
    margin: 0 auto;
}

.search {
    padding: 6px 15px 6px 30px;
    margin: 3px;
}

.rounded {
    border-radius: 15px;
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
}

input[type=text] {
    color: #bcbcbc;
}

input[type=button],
input[type=button]:hover {
    position: relative;
    left: -6px;
    border: 1px solid #adc5cf;
    background: #e4f1f9;
    /* Old browsers */
    background: -moz-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
    /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #e4f1f9), color-stop(100%, #d5e7f3));
    /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
    /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
    /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
    /* IE10+ */
    background: linear-gradient(top, #e4f1f9 0%, #d5e7f3 100%);
    /* W3C */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#e4f1f9', endColorstr='#d5e7f3', GradientType=0);
    /* IE6-9 */
    color: #7da2aa;
    cursor: pointer;
}

.dark {
    background: url('./images/dark_grey.jpg');
}

.dark input[type=text] {
    border: 1px solid #2a2e31;
    background-color: #2d3035;
    color: #E6E6E6;
}

.inner-addon {
    position: relative;
}


/* style icon */

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    padding-top: 12px;
    padding-left: 12px;
    pointer-events: none;
}


/* align icon */

.left-addon .glyphicon {
    left: 0px;
}

.right-addon .glyphicon {
    right: 0px;
}


/* add padding  */

.left-addon input {
    padding-left: 30px;
}

.right-addon input {
    padding-right: 30px;
}


/*FOOTER---------------------------*/

footer {
    background-color: #222;
    margin-top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}


/* --------- HOME ---------- */

.grid-home {
    background-image: url('img/background-image3.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-home .posters {
    list-style-type: none;
    width: 250px;
    display: inline-block;
    margin: 15px;
    justify-content: center;
    /* align-items: stretch;*/
}

.grid-home ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.grid-home img {
    border: 5px solid white;
    transition: all .05s linear;
}

.grid-home .posters-container {
    margin: 0 50px;
}

.grid-home .posters-container .title {
    margin: 10px 0 0 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.grid-home .posters-container .release-date {
    margin: 5px 0 0 0;
    color: white;
}

.grid-home i {
    color: #FFBA00;
}

.grid-home img {
    width: 100%;
}

.grid-home .posters-container img:hover {
    transform: scale(1.025);
    border-color: #FFBA00;
}

.grid-home h1 {
    margin: 0 0 10px 50px;
    color: #FFBA00;
    padding-top: 30px;
}

.grid-home h3 {
    color: #FFBA00;
    font-weight: 100;
    letter-spacing: 1px;
    padding-top: 40px;
    padding-left: 50px;
    margin-top: 0px;
}

.glyphicon-star {
    font-size: 27px;
    margin-right: 10px;
}


/* -------- DETAILS -------- */

.details-page h2 {
    margin: 0 0 10px 50px;
    color: #FFBA00;
}

.details-page h3 {
    margin: 0 0 10px 50px;
    color: #EFEFEF;
    font-weight: normal;
    font-size: 20px;
}

.details-page {
    padding: 80px 0;
    background-image: url('img/background-image4.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-page .blank-space {
    height: 120px;
    background: white;
}

.details-page .glyphicon-film {
    font-size: 25px;
    margin-right: 15px;
}

.details-page .left-content {
    padding-left: 60px;
}

.details-page .right-content {
    padding-left: 60px;
}

.details-page .description {
    padding-left: 45px;
}

.details-page h4 {
    font-size: 18px;
    color: #FFBA00;
    margin-top: 20px;
}

.details-page .small-icon {
    margin-right: 10px;
    font-size: 15px;
}

.details-page li {
    color: #DDD;
}

.details-page p {
    color: #DDD;
    font-size: 15px;
}


/* -------- RESULTS -------- */

.glyphicon-menu-hamburger {
    font-size: 27px;
    padding-right: 10px;
}
