body {
    background: black;
}

#search-bar {
    background: #444;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    margin-top: 0;
}

#whiteText {
    color: white;
}

h2 {
    color: red;
}


/*.posters {
    list-style-type: none;
    transition: all .1s linear;
    display: inline-block;
    margin: 0 0 0 0;
}*/


/*NAVBAR*/


/*#logoImage {
    background-image: url('img/logo.png')
}
/*HOME-----------------------------*/


/*MOVIE----------------------------*/

h2 {
    color: red;
}


/*FOOTER---------------------------*/

footer {
    background-color: #444;
    margin-top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}

.grid-home {
    background-image: url("/img/background-image3.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-home .posters {
    list-style-type: none;
    width: 250px;
    display: inline-block;
    margin: 15px;
    justify-content: center;
    /* align-items: stretch;*/
}

.grid-home ul {
    display: flex;
    flex-wrap: wrap;

}

img {
    border: 5px solid white;
    transition: all .05s linear;
}

.grid-home .posters-container {
    margin: 0 50px;
    display: flex;
    align-items: flex-start;
}

.grid-home .posters-container .title {
    margin: 10px 0 0 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.grid-home .posters-container .release-date {
    margin: 5px 0 0 0;
    color: white;
}

.grid-home i {
    color: #FFBA00;
}


.grid-home img {
    width: 100%;
}

.grid-home .posters-container img:hover {
    transform: scale(1.025);
    border-color: #FFBA00;

}
