body {
    background: black;
}

#search-bar {
    background: #444;
    top: 0;
    left: 0;
    right: 0;
    height: 70px;
    margin: 0;
}


/*.posters {
    list-style-type: none;
    transition: all .1s linear;
    display: inline-block;
    margin: 0 0 0 0;
}*/


/*NAVBAR*/


/*#logoImage {
    background-image: url('img/logo.png')
}
/*HOME-----------------------------*/


/*FOOTER---------------------------*/

footer {
    background-color: #444;
    margin-top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 35px;
    text-align: center;
    color: #CCC;
}

footer p {
    padding: 10.5px;
    margin: 0px;
    line-height: 100%;
}


/* --------- HOME ---------- */

.grid-home {
    background-image: url("/img/background-image3.png");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-home .posters {
    list-style-type: none;
    width: 250px;
    display: inline-block;
    margin: 15px;
    justify-content: center;
    /* align-items: stretch;*/
}

.grid-home ul {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 40px;
    margin-bottom: 0;
}

.grid-home img {
    border: 5px solid white;
    transition: all .05s linear;
}

.grid-home .posters-container {
    margin: 0 50px;
}

.grid-home .posters-container .title {
    margin: 10px 0 0 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
}

.grid-home .posters-container .release-date {
    margin: 5px 0 0 0;
    color: white;
}

.grid-home i {
    color: #FFBA00;
}

.grid-home img {
    width: 100%;
}

.grid-home .posters-container img:hover {
    transform: scale(1.025);
    border-color: #FFBA00;
}

.grid-home h1 {
    margin: 0 0 10px 50px;
    color: #FFBA00;
    padding-top: 30px;
}

.glyphicon-star {
    font-size: 27px;
    margin-right: 10px;
}


/* -------- DETAILS -------- */

.details-page h2 {
    margin: 0 0 10px 50px;
    color: #FFBA00;
}

.details-page h3 {
    margin: 0 0 10px 50px;
    color: #EFEFEF;
    font-weight: normal;
    font-size: 20px;
}

.details-page {
    padding: 80px 0;
    background-image: url('/img/background-image4.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.details-page .blank-space {
    height: 120px;
    background: white;
}

.details-page .glyphicon-film {
    font-size: 25px;
    margin-right: 15px;
}

.details-page .left-content {
    padding-left: 60px;
}

.details-page .right-content {
    padding-left: 60px;
}

.details-page .description {
    padding-left: 45px;
}

.details-page h4 {
    font-size: 18px;
    color: #FFBA00;
    margin-top: 20px;
}

.details-page .small-icon {
    margin-right: 10px;
    font-size: 15px;
}

.details-page li {
    color: #DDD;
}

.details-page p {
    color: #DDD;
    font-size: 15px;
}




/* -------- RESULTS -------- */

.glyphicon-menu-hamburger {
    font-size: 27px;
    padding-right: 10px;
}
