<!DOCTYPE html>
<html lang="en" ng-app="mainApp">

<head>
    <meta charset="UTF-8">
    <title>SearchMovieName</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <style type="text/css">
    body {
        background: black;
    }
    
    .search-bar {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .posters {
        list-style-type: none;
        transition: all .1s linear;
        display: inline-block;
    }
    
    li.posters:hover {
        transform: scale(1.05);
    }
    
    li p {
        color: white;
    }
    
    img {
        /*border: 1px solid red;*/
    }
    </style>
</head>

<body>
    <div ng-controller="searchController">
        <header class="search-bar">
            <form>
                <input style="width: 600px" type="text" ng-model="userSearch" placeholder="Enter Movie/TV">
                <button ng-click="getData()"><i class="glyphicon glyphicon-search"></i></button>
            </form>
        </header>
        <h1>Genres</h1>
        <ul>
            <li ng-repeat="movie in movies">
                <p>{{ movie.genre_ids }}</p>
            </li>
        </ul>
        <h1>Movies list</h1>
        <ul>
            <li ng-repeat="movie in movies" class="posters">
                <img ng-src="http://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" />
            </li>
        </ul>
        <h1>TV Series list</h1>
        <ul>
            <li ng-repeat="tv in tvs" class="posters">
                <img ng-src="http://image.tmdb.org/t/p/w300/{{ tv.poster_path }}" />
            </li>
        </ul>
    </div>
    <script type="text/javascript" src="https://opensource.keycdn.com/angularjs/1.6.2/angular.min.js "></script>
    <script type="text/javascript">
    angular.module('mainApp', [])
        .controller('searchController', function($scope, dataService) {

            $scope.getData = function() {

                var _movieName = $scope.userSearch

                dataService.getMoviesArray(_movieName)
                    .then(function(response) {
                        var movieObjectArray = response.data.results
                        var newMovieObjectArray = []
                        console.log(movieObjectArray)
                        movieObjectArray.forEach(function(movie, key) {
                            if (movie.poster_path) {
                                newMovieObjectArray.push(movieObjectArray[key])
                            }
                        })
                        $scope.movies = newMovieObjectArray
                    })

                var _tvName = $scope.userSearch

                dataService.getTVArray(_tvName)
                    .then(function(response) {
                        var tvObjectArray = response.data.results
                        var newTvObjectArray = []
                        console.log(tvObjectArray)
                        tvObjectArray.forEach(function(tv, key) {
                            if (tv.poster_path) {
                                newTvObjectArray.push(tvObjectArray[key])
                            }
                        })
                        $scope.tvs = newTvObjectArray
                    })

                dataService.getGenreIdMovie()
                    .then(function(response) {
                        var genresIdArrayMovie = response.data.genres
                        var idCode = $scope.movies
                        // console.log(response.data.genres)
                        // console.log(idCode)
                        var arrayGenre = []
                        idCode.forEach(function(genreA, keyA) {
                            genresIdArrayMovie.forEach(function(genreB, keyB) {
                                for (var i = 0; i <= idCode.length; i++) {
                                    if (genreA.genre_ids[i] === genreB.id) {
                                        arrayGenre.push(genreB.name)
                                        console.log(genreB.name)
                                        
                                    }
                                }                               
                            })
                            console.log(arrayGenre)
                        })
                    })


                dataService.getGenreIdTv()
                    .then(function(response) {
                        console.log(response.data.genres)
                    })

            }
        })
        .factory('dataService', function($http) {

            function getMoviesArray(_movieName) {
                var url = 'http://api.themoviedb.org/3/search/movie?api_key=d6ceefa77210945fb936085a6798e7a6&query=' + _movieName
                return $http.get(url)
            }

            function getTVArray(_tvName) {
                var url = 'http://api.themoviedb.org/3/search/tv?api_key=d6ceefa77210945fb936085a6798e7a6&query=' + _tvName
                return $http.get(url)
            }

            function getGenreIdMovie() {
                return $http.get('https://api.themoviedb.org/3/genre/movie/list?api_key=d6ceefa77210945fb936085a6798e7a6&language=en-US')
            }

            function getGenreIdTv() {
                return $http.get('https://api.themoviedb.org/3/genre/tv/list?api_key=d6ceefa77210945fb936085a6798e7a6&language=en-US')
            }

            return {
                getMoviesArray: getMoviesArray,
                getTVArray: getTVArray,
                getGenreIdMovie: getGenreIdMovie,
                getGenreIdTv: getGenreIdTv
            }
        })
    </script>
</body>

</html>
