<footer>
    <p>&copy; <a style="color:#FFBA00; text-decoration:none;" href="#/"> movieWORLD</a> · All rights reserved 2017-2018 · Made by <a style="color:#FFBA00; text-decoration:none;" href="https://github.com/jaumereg" target="_blank">Jaume</a>, <a style="color:#FFBA00; text-decoration:none;" href="https://github.com/lfernandezcall" target="_blank">Luis Alberto</a> &amp; <a style="color:#FFBA00; text-decoration:none;" href="https://github.com/sgarmendia" target="_blank">Simon</a></p>
</footer>
