<div class="details-page">
    <div id="white-text" class="row">
        <div class="col-md-6">
            <h2><i class="glyphicon glyphicon-film"></i>{{ movie.title }}</h2>
            <h3>{{ movie.tagline }}</h3>
            <div class="row">
                <div class="col-md-6 left-content">
                    <h4>Genres</h4>
                    <div>
                        <ul>
                            <li ng-repeat="genre in movie.genres">
                                <p>{{ genre.name }}</p>
                            </li>
                        </ul>
                    </div>
                    <h4>ReleaseDate</h4>
                    <p><i class="glyphicon glyphicon-calendar small-icon"></i>{{ movie.release_date }}</p>
                </div>
                <div class="col-md-6 right-content">                  
                    <div>
                        <h4>User Rating</h4>
                        <div>
                            <p><i class="glyphicon glyphicon-star small-icon"></i>{{ movie.vote_average }}</p>
                        </div>
                        <h4>Votes</h4>
                        <div>
                            <p><i class="glyphicon glyphicon-user small-icon"></i>{{ movie.vote_count }}</p>
                        </div>
                    </div>
                </div>
            </div>
                <!-- Here is the description -->
                <div class="description">
                <h4>Overview</h4>
                <p>{{ movie.overview }}</p>
                </div>
        
        </div>
        <div class="col-md-6">
        <div class="col-md-12" ng-show="imageMovie">
            <img class="img-responsive details-image" ng-src="http://image.tmdb.org/t/p/w600{{ imageMovie }} " />
            <!-- Here we put the secondary image -->
        </div>
        </div>
    </div>
    
</div>
