<div  id="whiteText" class="container row">
    <div  class="col-md-6">
        <div>
            <!-- Here is the title of the movie-->
            <h2>{{ tv.name }}</h2>
            <h4><small>ReleaseDate</small></h4>
            <h6>{{ tv.first_air_date }}</h6>
            <div>
                <h4><small>Popularity</small></h4>
                <div>
                    <p>{{ tv.vote_average }}</p>
                    <div>{{ tv.popularity }}</div>
                </div>
                <h4><small>Genres</small></h4>
                <div>
                    <ul>
                        <li ng-repeat="genre in tv.genres">
                            <p>{{ genre.name }}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 image-responsive">
        <img class="img-responsive " ng-src="http://image.tmdb.org/t/p/w600{{ imageTv }} " />
        <!-- Here we put the secondary image -->
    </div>
    <div class="col-md-12 ">
        <!-- Here is the description -->
        <h4><small>Overview</small></h4>
        <small">{{ tv.overview }}</small>
    </div>
</div>
