
    <style type="text/css">
    body {
        background: black;
    }
    
    .search-bar {
        display: flex;
        justify-content: center;
        margin: 20px 0;
    }
    
    .posters {
        list-style-type: none;
        transition: all .1s linear;
        display: inline-block;
    }
    
    li.posters:hover {
        transform: scale(1.05);
    }
    
    li p {
        color: white;
    }
    /*This is Alberto´s CSS*/
    
    #whiteText {
        color: white;
    }
    </style>
    <h1>Movies list</h1>
    <ul>
        <!-- Added ng-click to get the info of the selected movie -->
        <li ng-click="clickedMovie(key)" ng-repeat="(key,movie) in movies" class="posters">
            <a href="#/movie"><img ng-src="http://image.tmdb.org/t/p/w300/{{ movie.poster_path }}" /></a>
            <!--   <{{ key }}> -->
        </li>
    </ul>
    <h1>TV Series list</h1>
    <ul>
        <li ng-click="clickedTv(key)" ng-repeat="(key,tv) in tvs" class="posters">
            <a href="#/movie"><img ng-src="http://image.tmdb.org/t/p/w300/{{ tv.poster_path }}" /></a>
        </li>
    </ul>
   