<div class="container row">
    <div id="whiteText" class="col-md-6">
        <div>
            <!-- Here is the title of the movie-->
            <h2 id="whiteText">{{ movieTitle }}</h2>
            <h4><small>ReleaseDate</small></h4>
            <h6>{{ releaseDate }}</h6>
            <!-- Detalles especificos del producto -->
            <div>
                <h4><small>Popularity</small></h4>
                <div>
                    <p>{{ voteAverage }}</p>
                    <div>{{ popularity }}</div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-6 image-responsive" ">
    <img class="img-responsive " ng-src="http://image.tmdb.org/t/p/w600{{ backdropPath }} " />
    <!-- Here we put the secondary image -->
    </div>
    <div class="col-md-12 " >
            <!-- Here is the description -->
            <h4><small>Overview</small></h4>
            <small id="whiteText " >{{ overview }}</small>           
    </div>
</div>
