
<style type="text/css">
body { background: black; }

.search-bar { margin: 0 auto; }

.posters {
    list-style-type: none;
    transition: all .1s linear;
    display: inline-block;
    margin: 0 0 0 0;
}

li:hover { transform: scale(1.1); }
</style>

<div>
    <form ng-controller="movieSearchController">
        <input style="width: 600px" type="text" ng-model="movieName" placeholder="Enter Movie">
        <button ng-click="getMovieData()">Search API</button>
        <ul>
            <li ng-repeat="movie in movies" class="posters">
                <img ng-src="http://image.tmdb.org/t/p/w300/{{ movie.poster_path }}"/>
            </li>
        </ul>
    </form>
</div>
